<div class='head'>
    <div class="homeSide">
        <h2>Home</h2> <img [src]="lineups.home.badge" alt="">
        <h3> Team: {{lineups.home.team}}</h3>

        <h4>
            Coach:{{lineups.home.coach[0].lineup_player}} </h4>
    </div>
    <br>
    <div class="awaySide">
        <h2>Away</h2><img [src]="lineups.away.badge" alt="">
        <h3> Team:{{lineups.away.team}}</h3>

        <h4>
            Coach: {{lineups.away.coach[0].lineup_player}}
        </h4>
    </div>



</div>
<hr>


<div class='warp'>
    <app-tactic-board [home]='lineups.home.lineup' [away]='lineups.away.lineup'></app-tactic-board>

</div>







<hr>

<div class='stats'>

    <app-bar-chart [statistics]="statistics">


    </app-bar-chart>
</div>