.stats{
    display: flex;
    justify-content: center;







p {
    margin: 0px;
}



}


.tactic {
    display: flex;
    
    justify-content: space-evenly;
}



.warp {
    position: relative
}

.head{
    display: flex;
    justify-content: space-evenly;
}
img{
    display: inline;
    width: 40px;
 
}
h2{
    display: inline;
}

.subs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


span{
    background-color: #50A0CA;
    display: inline-flex;
 
    width: 24px;
    
   
 
    border-radius: 200px 200px 200px 200px;
  
    text-align: center;
    
    justify-content: space-evenly;
    margin: auto;
}

span.away{
    display: inline-flex;
    background-color:  #EDAC07;
      
 
    width: 24px;
 
    border-radius: 200px 200px 200px 200px;
  
    text-align: center;
    
    justify-content: space-evenly;
    margin: auto;
}