.stats{
    display: flex;
    justify-content: center;







p {
    margin: 0px;
}



}


.tactic {
    display: flex;
    
    justify-content: space-evenly;
}
.home, .away {
   position: absolute;


}
img{

    width: 80%;
    justify-self: center;
    
    }