<!-- <video autoplay loop>
    <source src='../../../assets/trailer.mp4' type="video/mp4">
</video> -->
<div class='flex-container'>
    <img src='../../../assets/pl.png'>



</div>
<ng-container *ngFor='let p of prop; let i= index'>
    <!-- 
    <ng-container ngIf='r' [@slideInUp]> -->
    <app-card (click)='clickHandler(p)' [@fadeOut]='p.team_id === team' class="heartbeat" *ngIf=' p'
        [@slideInLeftOnEnter]="{ value: '', params: { delay: i * 100 } }" [card]='p'>

    </app-card>
    <!-- </ng-container> -->
</ng-container>