:host {
    display: block;
    padding-left: 24px;
    position: relative;
    margin-top: 100px;
}

img {
    opacity: 0.3;
   
    position: absolute;
    margin: auto;
    width: 50%;
    z-index: -1;
}


.flex-container {
    display: flex;
    justify-content: center;
}