:host {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
   
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


table {
    width: 80%;
    margin: auto;
    
    position: relative;
    border-collapse: collapse;
  
    
    
}
th, td, tr {
    padding: 5px;
    text-align: center;
    // border-right: 1px solid black;
    border-collapse: collapse;
    border-right :  1px solid white;
    border-bottom:  1px solid white;
  }

// tr[scope=row]:hover{
//       background-color: #D01A4A;
//       opacity: 0.2;
//       color: black;

//   }

 .champions_league {
    color:#64AB47
 }
 .league_europe {
     color:#50A0CA
 }

 .relegation{
     color: #EDAC07
 }

 th.selected {
     color: #50A0CA;
 }