<!-- <table class="table table-hover table-borderless table-dark ">
    <tr>


        <th scope="col">R</th>
        <th scope="col">Team</th>
        <th scope="col">P</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">GF</th>
        <th scope="col">GA</th>

        <th scope="col">Pts</th>



    </tr>
    <tr *ngFor='let club of standings' scope="row">
        <th
            [ngClass]="{ league_europe: club.overall_league_position == 5, champions_league: club.overall_league_position <=4, relegation : club.overall_league_position>17}  ">
            {{club.overall_league_position}}
        </th>

        <td>
            {{club.team_name}}
        </td>
        <td>
            {{club.overall_league_payed}}
        </td>
        <td>
            {{club.overall_league_W}}
        </td>
        <td>
            {{club.overall_league_D}}
        </td>
        <td>
            {{club.overall_league_L}}
        </td>
        <td>
            {{club.overall_league_GF}}
        </td>
        <td>
            {{club.overall_league_GA}}
        </td>

        <td>
            {{club.overall_league_PTS}}
        </td>




    </tr>
</table> -->


<table class="table  table-striped table-hover">
    <thead class=" thead-dark ">
        <th scope="col" (click)='reverseStandings()' [ngClass]="{selected: selected === 'r'}">R</th>
        <th scope="col" (click)='sortByName()' [ngClass]="{selected: selected === 'team'}">Team</th>
        <th scope="col" (click)='sortByMostPlayed()' [ngClass]="{selected: selected === 'p'}">P</th>
        <th scope="col" (click)='sortByMostWins()' [ngClass]="{selected: selected === 'w'}">W</th>
        <th scope="col" (click)='sortByMostDraws()' [ngClass]="{selected: selected === 'd'}">D</th>
        <th scope="col" (click)='sortByMostLoses()' [ngClass]="{selected: selected === 'l'}">L</th>
        <th scope="col" (click)='sortByGoalsFor()' [ngClass]="{selected: selected === 'gf'}">GF</th>
        <th scope="col" (click)='sortByGoalsAlowed()' [ngClass]="{selected: selected === 'ga'}">GA</th>

        <th scope="col" (click)='sortByPts()' [ngClass]="{selected: selected === 'pts'}">Pts</th>

    </thead>
    <tbody>

        <tr *ngFor='let club of standings' scope="row">
            <th
                [ngClass]="{ league_europe: club.overall_league_position == 5, champions_league: club.overall_league_position <=4, relegation : club.overall_league_position>17}  ">
                {{club.overall_league_position}}
            </th>

            <td>
                {{club.team_name}}
            </td>
            <td>
                {{club.overall_league_payed}}
            </td>
            <td>
                {{club.overall_league_W}}
            </td>
            <td>
                {{club.overall_league_D}}
            </td>
            <td>
                {{club.overall_league_L}}
            </td>
            <td>
                {{club.overall_league_GF}}
            </td>
            <td>
                {{club.overall_league_GA}}
            </td>

            <td>
                {{club.overall_league_PTS}}
            </td>

    </tbody>
</table>


<div class="legend">

    <ul>
        <li>
            <span scope='champions-league'></span>
            champions league
        </li>
        <li>
            <span scope='europa-league'>
            </span>
            europa league
        </li>
        <li>
            <span scope='relegations'>

            </span>
            relegation
        </li>

    </ul>


</div>


<!-- <ul>
    today
    <li *ngFor='let fixture of todayFixtures'>
      
    </li>
</ul> -->

<!-- <ul class="list-group" *ngFor='let fixture of todayFixtures'>
    <li class="list-group-item">
        {{fixture.match_date}}
        {{fixture.match_hometeam_name}}
        {{fixture.match_awayteam_name}}
    </li>

</ul> -->


<!-- <ul class="list-group" *ngFor='let fixture of mondayFixures'>

    <li class="list-group-item">
        <!-- {{fixture.match_date}} -->
<!-- {{fixture.match_hometeam_name}}
        {{fixture.match_awayteam_name}} -->
<!-- </li>

</ul>  -->


<!-- mondayFixures: Fixture[];
tuesdayFixures: Fixture[]
wednesdayFixures: Fixture[]
 -->


<ng-container *ngIf='typeCheck(mondayFixures)'>


    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Monday {{date.isoWeekday(1).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of mondayFixures'>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}}
                    {{fixture.match_hometeam_ft_score
                }}-{{fixture.match_awayteam_ft_score}}
                    {{fixture.match_awayteam_name}}</td>

            </tr>


        </tbody>
    </table>

</ng-container>


<ng-container *ngIf='typeCheck(tuesdayFixures)'>
    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Tuesday {{date.isoWeekday(2).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of tuesdayFixures'>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}}
                    {{fixture.match_hometeam_score}}

                    -
                    {{fixture.match_awayteam_score}}
                    {{fixture.match_awayteam_name}}</td>

            </tr>


        </tbody>
    </table>
</ng-container>


<ng-container *ngIf='typeCheck(wednesdayFixures)'>


    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Wednesday {{date.isoWeekday(3).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of wednesdayFixures'>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}} {{fixture.match_hometeam_score}}

                    -
                    {{fixture.match_awayteam_score}} {{fixture.match_awayteam_name}}</td>

            </tr>


        </tbody>
    </table>

</ng-container>



<ng-container *ngIf='typeCheck(thursdayFixures)'>
    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Thursday {{date.isoWeekday(4).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of thursdayFixures '>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}} {{fixture.match_hometeam_score}}

                    -
                    {{fixture.match_awayteam_score}} {{fixture.match_awayteam_name}}</td>

            </tr>


        </tbody>
    </table>
</ng-container>


<ng-container *ngIf='typeCheck(fridayFixures)'>




    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Friday {{date.isoWeekday(5).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of fridayFixures'>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}} {{fixture.match_hometeam_score}}

                    -
                    {{fixture.match_awayteam_score}}{{fixture.match_awayteam_name}}
                </td>

            </tr>


        </tbody>
    </table>



</ng-container>

<ng-container *ngIf='typeCheck(saturdayFixures)'>

    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Saturday {{date.isoWeekday(6).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of saturdayFixures'>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}} {{fixture.match_hometeam_score}}

                    -
                    {{fixture.match_awayteam_score}} {{fixture.match_awayteam_name}}</td>

            </tr>


        </tbody>
    </table>


</ng-container>

<ng-container *ngIf='typeCheck(sundayFixtures)'>


    <table class="table table-striped table-hover table-borderless">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Sunday {{date.isoWeekday(7).format("YYYY-MM-DD")}}
                </th>


            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor='let fixture of sundayFixtures'>
                <th>{{fixture.match_time}}</th>
                <td>{{fixture.match_hometeam_name}} {{fixture.match_hometeam_score}}

                    -
                    {{fixture.match_awayteam_score}} {{fixture.match_awayteam_name}}</td>

            </tr>


        </tbody>
    </table>

</ng-container>