<h1>Premier league standings for season {{season}} </h1>
<hr>

<table class="table  table-striped table-hover">
    <thead class=" thead-dark ">
        <th scope="col" (click)='reverseStandings()' [ngClass]="{selected: selected === 'r'}">R</th>
        <th scope="col" (click)='sortByName()' [ngClass]="{selected: selected === 'team'}">Team</th>
        <th scope="col" (click)='sortByMostPlayed()' [ngClass]="{selected: selected === 'p'}">P</th>
        <th scope="col" (click)='sortByMostWins()' [ngClass]="{selected: selected === 'w'}">W</th>
        <th scope="col" (click)='sortByMostDraws()' [ngClass]="{selected: selected === 'd'}">D</th>
        <th scope="col" (click)='sortByMostLoses()' [ngClass]="{selected: selected === 'l'}">L</th>
        <th scope="col" (click)='sortByGoalsFor()' [ngClass]="{selected: selected === 'gf'}">GF</th>
        <th scope="col" (click)='sortByGoalsAlowed()' [ngClass]="{selected: selected === 'ga'}">GA</th>

        <th scope="col" (click)='sortByPts()' [ngClass]="{selected: selected === 'pts'}">Pts</th>

    </thead>
    <tbody>

        <tr *ngFor='let club of standings' scope="row">
            <th
                [ngClass]="{ league_europe: club.overall_league_position == 5, champions_league: club.overall_league_position <=4, relegation : club.overall_league_position>17}  ">
                {{club.overall_league_position}}
            </th>

            <td>
                {{club.team_name}}
            </td>
            <td>
                {{club.overall_league_payed}}
            </td>
            <td>
                {{club.overall_league_W}}
            </td>
            <td>
                {{club.overall_league_D}}
            </td>
            <td>
                {{club.overall_league_L}}
            </td>
            <td>
                {{club.overall_league_GF}}
            </td>
            <td>
                {{club.overall_league_GA}}
            </td>

            <td>
                {{club.overall_league_PTS}}
            </td>

    </tbody>
</table>


<div class="legend">

    <ul>
        <li>
            <span scope='champions-league'></span>
            champions league
        </li>
        <li>
            <span scope='europa-league'>
            </span>
            europa league
        </li>
        <li>
            <span scope='relegations'>

            </span>
            relegation
        </li>

    </ul>


</div>


<!-- <ul>
    today
    <li *ngFor='let fixture of todayFixtures'>
      
    </li>
</ul> -->

<!-- <ul class="list-group" *ngFor='let fixture of todayFixtures'>
    <li class="list-group-item">
        {{fixture.match_date}}
        {{fixture.match_hometeam_name}}
        {{fixture.match_awayteam_name}}
    </li>

</ul> -->


<!-- <ul class="list-group" *ngFor='let fixture of mondayFixures'>

    <li class="list-group-item">
        <!-- {{fixture.match_date}} -->
<!-- {{fixture.match_hometeam_name}}
        {{fixture.match_awayteam_name}} -->
<!-- </li>

</ul>  -->


<!-- mondayFixures: Fixture[];
tuesdayFixures: Fixture[]
wednesdayFixures: Fixture[]
 -->
<br>

<h1>This week fixtures</h1>
<hr>

<ng-container *ngIf='typeCheck(mondayFixures)'>


    <app-fixtures-table date='Monday {{date.isoWeekday(1).format("YYYY-MM-DD")}}' [fixtures]='mondayFixures'>
    </app-fixtures-table>
</ng-container>


<ng-container *ngIf='typeCheck(tuesdayFixures)'>
    <app-fixtures-table date='Tuesday {{date.isoWeekday(2).format("YYYY-MM-DD")}}' [fixtures]='tuesdayFixures'>
    </app-fixtures-table>


</ng-container>


<ng-container *ngIf='typeCheck(wednesdayFixures)'>
    <app-fixtures-table date='Wednesday {{date.isoWeekday(3).format("YYYY-MM-DD")}}' [fixtures]='wednesdayFixures'>
    </app-fixtures-table>


</ng-container>



<ng-container *ngIf='typeCheck(thursdayFixures)'>

    <app-fixtures-table date='Thursday {{date.isoWeekday(4).format("YYYY-MM-DD")}}' [fixtures]='thursdayFixures'>
    </app-fixtures-table>

</ng-container>


<ng-container *ngIf='typeCheck(fridayFixures)'>


    <app-fixtures-table date='Friday {{date.isoWeekday(5).format("YYYY-MM-DD")}}' [fixtures]='fridayFixures'>
    </app-fixtures-table>






</ng-container>

<ng-container *ngIf='typeCheck(saturdayFixures)'>


    <app-fixtures-table date='Saturday {{date.isoWeekday(6).format("YYYY-MM-DD")}}' [fixtures]='saturdayFixures'>
    </app-fixtures-table>




</ng-container>

<ng-container *ngIf='typeCheck(sundayFixtures)'>

    <app-fixtures-table date='Sunday {{date.isoWeekday(7).format("YYYY-MM-DD")}}' [fixtures]='sundayFixtures'>
    </app-fixtures-table>





</ng-container>