:host {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
   
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


table {
    width: 80%;
    margin: auto;
    
    position: relative;
    border-collapse: collapse;
  
    
    
}
th, td, tr {
    padding: 5px;
    text-align: center;
    // border-right: 1px solid black;
    border-collapse: collapse;
    border-right :  1px solid white;
    border-bottom:  1px solid white;
  }

th[scope=col]{
      cursor: pointer;

  }

 .champions_league {
    color:#64AB47;

    
 }
 .league_europe {
     color:#50A0CA;

    
 }

 .relegation{
     color: #EDAC07;
    
 }

 th.selected {
     color: #50A0CA;
 }
 ul {
     margin: auto;
     list-style: none;
     display: block;
     padding:0px;
 }
 li {
     float: left;
     margin-left: 10px;

    text-align: center;
    text-transform: uppercase;
    text-size-adjust: auto;
    &:after {
        content: ' | ';
    }

 }
 .legend {
    margin-top: 20px;
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    height: 20px;
    align-items: center;
     
 
 }

 span{
    width: 10px;
    height: 10px;
    
    display: inline-block;
    &[scope=champions-league]{
        background-color: #64AB47;
    }
    &[scope=europa-league]{
        background-color: #50A0CA;
    
     }
     &[scope=relegations]{
        background-color: #EDAC07;
    
     }
    
   }
  
h1 {
    text-align: center;
    margin: auto;
}

tr {
    text-align: center;
}
 

.column {
    width: 100px;
}
