:host  {
   

  height: 400px;  
   background-color: #34043C;
    justify-content: space-between;


    overflow: hidden;
    top: '0';
    z-index:1;
    border-bottom: 1px solid #34043C;
    margin-bottom: 10px;




display: flex;
  flex-direction: row;


 color: white;

 text-transform: uppercase;
    
  
}


img {
    width: 100px;
    height: 100px;
    // position: absolute;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
margin-left: 10px;
   
}


.right{
    // float: right;
    margin-right: 40px;
    // align-self: center;
    margin-top: 10px ;
    // position: absolute;
}
.route{
    float: left;
    text-transform: uppercase;
    margin-left: 10px;
   
    // color: black;
    font-style: Franklin Gothic Medium;
}

.large {
        // display: flex;
        justify-self:center;
    // position: absolute;
    // align-self:flex-start;
    text-align: center;
    // color: #ffffff;
     margin-top: 100px;
  
    
}