<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Player name</th>
            <th scope="col" (click)='sortByAge()' [ngClass]='{selected: selected === "age"}'>Age</th>
            <th scope="col" (click)='sortByShirtNumber()' [ngClass]='{selected: selected === "shirtNumber"}'>Shirt
                number</th>
            <th scope="col">Positon</th>
            <th scope="col" (click)='sortByGoals()' [ngClass]='{selected: selected === "goals"}'>Gs</th>
            <th scope="col" (click)='sortByYellowCards()' [ngClass]='{selected: selected === "yellow"}'>Yellow cards
            </th>
            <th scope="col" (click)='sortByRedCards()' [ngClass]='{selected: selected === "red"}'>Red cards</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let player of players; let i = index'>
            <th scope="row">{{i+1}}</th>
            <td>{{player.player_name}}</td>
            <td>{{player.player_age}}</td>
            <td>{{player.player_number}}</td>
            <td>{{player.player_type}}</td>

            <td>{{player.player_goals}}</td>
            <td>{{player.player_yellow_cards}}</td>
            <td>{{player.player_red_cards}}</td>
            <td>{{player.player_country}}</td>
        </tr>

    </tbody>
</table>